{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
  Add Students To Program {{ program_title }}
{% endblock %}

{% block content %}
  <h4>{{ program_title }}</h4>
  <br>

  <label>
    Search Names
    <input id="searchTextbox" placeholder="Enter name here" type="text">
  </label>

  <label>Filter by State
    <select>
      <option value="">None Selected</option>
      {% for state in states %}
        <option value="{{ state.0 }}">{{ state.1 }}</option>
      {% endfor %}
    </select> 
  </label>
  
  <br><br>
  <form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" href="{% url 'programs:create' %}" type="submit" value="Save Enrollment Changes" style="display:none;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Student Name</th>
          <th>Student Location</th>
        </tr>
      </thead>
      <tbody class="add-students-list" data-program-id="{{ program_pk }}">
        {% for student in students %}
          <tr data-city="{{ student.city }}" data-state="{{ student.state }}" data-pk="{{ student.pk }}">
            <td>
              <input type="checkbox" name="add-students" value="{{ student.pk }}" {% if student.pk in enrolled %}checked{% else %}{% endif %}></td>
            <td class="names">
              {{ student.first_name }} {{ student.last_name }}
            </td>
            <td>{{ student.city }}, {{student.state }}</td>
          </tr>
        {% empty %}
          <tr>
            <td>No student has been created yet</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>

{% endblock %}

{% block extra-js %}
  <script src="{% static 'libs/jQueryv3.1.1.min.js' %}"></script>
  <script src="{% static 'libs/fuse.min.js' %}"></script>
  <script src="{% static 'js/add_students_to_program.js' %}"></script>
{% endblock %}
