{% extends "base.html" %}

{% block title %}
  Programs
{% endblock %}

{% block content %}
  <a href="{% url 'programs:create' %}">New Program</a>
  <br>
  <br>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Start</th>
        <th>Event Location</th>
      </tr>
    </thead>
    <tbody>
      {% for program in object_list %}
        <tr>
          <td><a href="{% url 'programs:update' program.pk %}">{{ program.event_name }}</a></td>
          <td>{{ program.event_start_date_time }}</td>
          {% if program.event_city %}
            <td>{{ program.event_city }}, {{program.event_state}}</td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td>No Program has been created yet</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
