{% extends "base.html" %}

{% block content %}

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <input type="submit" value="Update" class="btn btn-primary"/>
    </div>
  </form>
  <a href="{% url 'students:create' object.pk %}" class="btn btn-success">Add Staff Contact Note</a>

  <hr>
  <h4>History of Student Contacts</h4>
  {% for contact in object.staffcontact_set.all %}
      <b>{{contact.conversation_date_time}}</b>
      <p>{{contact.note}}</p>
  {% empty %}
    <p>No contacts have been made with this student</p>
  {% endfor %}

{% endblock %}
